      <!-- nav -->
      <ul class="nav nav-pills py-3 nav-fill">
        <li class="nav-item">
          <a class="nav-link btn-success" href="index.html">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html">
            Login
          </a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="saleassociate.html">
            SaleAssociate
          </a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="manager.html">
            Manager
          </a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="admin.html">
            Admin
          </a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="regular.html">
            Regular
          </a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" href="client.html">
            Client
          </a>
        </li>                
      </ul>
      <!-- ./nav -->